fastapi==0.127.0
uvicorn==0.40.0
langchain==0.3.27
langchain-google-genai==2.0.10
langchain-community==0.3.31
langchain-text-splitters==0.3.11
langchain-core==0.3.81
supabase==2.27.0
pypdf==6.5.0
python-multipart==0.0.21
python-dotenv==1.2.1
google-generativeai==0.8.6
httpx>=0.28.1
websockets>=13.0.0,<15.1.0
